    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>Dolor reprehenderit repellendus, optio labore odio at tempore debitis nisi. Quasi debitis tenetur eaque molestias non porro odio sapiente.</p>
                <p><a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="filters text-center">
	        <ul class="nav nav-pills">
                <li>
                    <img class="circular"  src="img/matt.jpg" height="150" width="150">
                    <a href="https://cse.unl.edu/~dwyer/">Matt Dwyer</a>
                </li>
                <li></li>
                <li></li>
                <li>
                    <img class="circular"  src="img/matt.jpg" height="150" width="150">
                    <a href="https://cse.unl.edu/~dwyer/">Matt Dwyer</a>
                </li>
            </ul>
		</div>
    </section>